/MobileUPIntership.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/MobileUPIntership.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/MobileUPIntership.xcodeproj/project.xcworkspace/xcuserdata/denisraiko.xcuserdatad/UserInterfaceState.xcuserstate
/MobileUPIntership.xcodeproj/xcuserdata/denisraiko.xcuserdatad/xcschemes/xcschememanagement.plist
